.leftBox{
  border-right: 1px solid grey; 
    height: 100%;
    width: 35%;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userInfo img{
  margin: auto;
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.userInfo h2{
    display: flex;
    text-align: center;
}
.userInfo span{
    display: flex;
}

.userInfo {
  display: flex;
  align-items: center;
  padding: 10px;
}

hr{
  width: 80%;
}
.userData {
  display: flex;
  flex-direction: column;
}

.userInfoRow {
    margin: 0;
    padding: 0;
  margin-bottom: 10px;
}

.label {
  font-size: 18px;
  color: grey;
  width: 100px;
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .profilePicture img {
   height: 200px;
   width: 200px;
    border-radius: 50%;
  }
  
  .userData {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    
  
  
.userInfoRow {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 18px;
}
.userInfoRow p{
    margin: 0;
    width: 230px;
    margin-left: 10px;
    padding: 0;
    font-size: 18px;
    color: rgb(40, 35, 35,0.9);
    font-weight: bold;
    }
  .label {
    display: flex;
    justify-content: end;
    width: 40%;
  }
  
  .userData > p{
      /* display: block; */
    /* margin: auto; */
    text-align: center;
    font-size: 18px;
    color: grey;
    font-weight: 600;
    margin-bottom: 15px;
}
  .value {
    width: 60%;
    
  }
  
  