.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets//jow.jpg"); 
    background-position: center;
  }
.box {
  height: 500px;
  width: 530px;
  overflow: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
  box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}
.users {
  z-index: 7;
  background-color: #f0f0f0;
}
.users img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
.users span{
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #0f0e0ee3;
  cursor: pointer;
}

.box::-webkit-scrollbar {
    width: 8px;
  }
  
  .box::-webkit-scrollbar-thumb {
    background-color: #d5d3d3;
    border-radius: 4px;
  }
.heading {
    display: flex;
    position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff; 
    height: 100px;
    border-bottom: 1px solid lightgrey;
    /* background-color: #f2f2f2a3; */
}
.heading h2{
    margin: auto;
    color: rgb(93, 92, 92);
    /* text-align: center; */
    top:100px;
}
.box p{
    line-height: 1.15;
    margin: 15px;
    
    font-size: 15px;
    /* font-weight: 5; */
    border-bottom: 1px solid lightgray;
    /* padding: 6px; */
    color: rgb(93, 92, 92);
}
.box p span{
    padding: 6px;
    margin-left: 10px;
}







